@import url("font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0ch;
  padding-right: 0ch;
  padding-bottom: 0ch;
  padding-left: 0ch;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

body {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 80em;
}

@media screen and (max-width: 1680px) {
  .container { width: 80em; }
}

@media screen and (max-width: 1280px) {
  .container { width: 65em; }
}

@media screen and (max-width: 980px) {
  .container { width: 90%; }
}

@media screen and (max-width: 736px) {
  .container { width: 90% ! important; }
}

@media screen and (max-width: 480px) {
  .container { width: 90% ! important; }
}

.row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  box-sizing: border-box;
}

.row > * {
  float: left;
  box-sizing: border-box;
}

.row::after, .row::before {
  content: "";
  display: block;
  clear: both;
  height: 0px;
}

.row.uniform > * > :first-child {
  margin-top: 0px;
}

.row.uniform > * > :last-child {
  margin-bottom: 0px;
}

.row > * {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 2em;
}

.row {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: -1px;
  margin-left: -2em;
}

.row.uniform > * {
  padding-top: 2em;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 2em;
}

.row.uniform {
  margin-top: -2em;
  margin-right: 0px;
  margin-bottom: -1px;
  margin-left: -2em;
}

@media screen and (max-width: 1680px) {
  .row > * { padding: 0px 0px 0px 2em; }
  .row { margin: 0px 0px -1px -2em; }
  .row.uniform > * { padding: 2em 0px 0px 2em; }
  .row.uniform { margin: -2em 0px -1px -2em; }
}

@media screen and (max-width: 1280px) {
  .row > * { padding: 0px 0px 0px 1.5em; }
  .row { margin: 0px 0px -1px -1.5em; }
  .row.uniform > * { padding: 1.5em 0px 0px 1.5em; }
  .row.uniform { margin: -1.5em 0px -1px -1.5em; }
}

@media screen and (max-width: 980px) {
  .row > * { padding: 0px 0px 0px 1.5em; }
  .row { margin: 0px 0px -1px -1.5em; }
  .row.uniform > * { padding: 1.5em 0px 0px 1.5em; }
  .row.uniform { margin: -1.5em 0px -1px -1.5em; }
}

@media screen and (max-width: 736px) {
  .row > * { padding: 0px 0px 0px 1.25em; }
  .row { margin: 0px 0px -1px -1.25em; }
  .row.uniform > * { padding: 1.25em 0px 0px 1.25em; }
  .row.uniform { margin: -1.25em 0px -1px -1.25em; }
}

@media screen and (max-width: 480px) {
  .row > * { padding: 0px 0px 0px 1.25em; }
  .row { margin: 0px 0px -1px -1.25em; }
  .row.uniform > * { padding: 1.25em 0px 0px 1.25em; }
  .row.uniform { margin: -1.25em 0px -1px -1.25em; }
}

body {
}

@media screen and (max-width: 480px) {
  html, body { min-width: 320px; }
}

body {
  background-color: white;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

body.is-loading *, body.is-loading *::before, body.is-loading *::after {
  animation: 0s ease 0s normal none 1 running none !important;
transition: none 0s ease 0s   !important;
}

body {
  background-color: white;
  color: #111111;
}

body, input, select, textarea {
  font-family: "Lato", sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 2;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea { font-size: 13pt; }
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea { font-size: 13pt; }
}

@media screen and (max-width: 980px) {
  body, input, select, textarea { font-size: 12pt; }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea { font-size: 12pt; }
}

@media screen and (max-width: 480px) {
  body, input, select, textarea { font-size: 12pt; }
}

a {
transition: color 0.2s ease-in-out 0s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0.25em;
  margin-left: 0px;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

@media screen and (max-width: 736px) {
  h1 { font-size: 1.5em; }
  h2 { font-size: 1.25em; }
  h3 { font-size: 1.1em; }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left-width: 4px;
  border-left-style: solid;
  font-style: italic;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-top: 0.5em;
  padding-right: 0px;
  padding-bottom: 0.5em;
  padding-left: 2em;
}

code {
  border-radius: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin-top: 0px;
  margin-right: 0.25em;
  margin-bottom: 0px;
  margin-left: 0.25em;
  padding-top: 0.25em;
  padding-right: 0.65em;
  padding-bottom: 0.25em;
  padding-left: 0.65em;
}

pre {
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
}

pre code {
  display: block;
  line-height: 1.75;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  overflow-x: auto;
}

hr {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  -moz-border-top-colors: none;
  border-top-colors: none;
  -moz-border-right-colors: none;
  border-right-colors: none;
  -moz-border-bottom-colors: none;
  border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-left-colors: none;
  border-image: none;
  margin-top: 2em;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
}

hr.major {
  margin-top: 3em;
  margin-right: 0px;
  margin-bottom: 3em;
  margin-left: 0px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input, select, textarea {
  color: #e5474b;
}

a {
  color: #e5474b;
}

strong, b {
  color: #e5474b;
}

h1, h2, h3, h4, h5, h6 {
  color: #e5474b;
}

blockquote {
  border-left-color: #e5474b;
}

code {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
}

hr {
  border-bottom-color: #006747;
}

.box {
  border-radius: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  margin-bottom: 2em;
  padding-top: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
}

.box > :last-child, .box > :last-child > :last-child, .box > :last-child > :last-child > :last-child {
  margin-bottom: 0px;
}

.box.alt {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-radius: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.box {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  line-height: 3.65em;
  padding-top: 0px;
  padding-right: 2.25em;
  padding-bottom: 0px;
  padding-left: 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
  text-decoration: none;
}

input.icon[type="submit"], input.icon[type="reset"], input.icon[type="button"], button.icon, .button.icon {
  padding-left: 1.35em;
}

input.icon[type="submit"]::before, input.icon[type="reset"]::before, input.icon[type="button"]::before, button.icon::before, .button.icon::before {
  margin-right: 0.5em;
}

input.fit[type="submit"], input.fit[type="reset"], input.fit[type="button"], button.fit, .button.fit {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  width: 100%;
}

input.small[type="submit"], input.small[type="reset"], input.small[type="button"], button.small, .button.small {
  font-size: 0.8em;
}

input.big[type="submit"], input.big[type="reset"], input.big[type="button"], button.big, .button.big {
  font-size: 1.35em;
}

input.disabled[type="submit"], input[type="submit"]:disabled, input.disabled[type="reset"], input[type="reset"]:disabled, input.disabled[type="button"], input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
  pointer-events: none;
  opacity: 0.25;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  background-color: #006747;
  color: white !important;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
  background-color: #676767;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
  background-color: #4d4d4d;
}

input.alt[type="submit"], input.alt[type="reset"], input.alt[type="button"], button.alt, .button.alt {
  background-color: transparent;
box-shadow: 0px 0px 0px 2px #e5474b inset;
  color: #e5474b !important;
}

input.alt[type="submit"]:hover, input.alt[type="reset"]:hover, input.alt[type="button"]:hover, button.alt:hover, .button.alt:hover {
  background-color: #fceced;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

input.alt[type="submit"]:active, input.alt[type="reset"]:active, input.alt[type="button"]:active, button.alt:active, .button.alt:active {
  background-color: #f9dadb;
}

input.alt.icon[type="submit"]::before, input.alt.icon[type="reset"]::before, input.alt.icon[type="button"]::before, button.alt.icon::before, .button.alt.icon::before {
  color: #717171;
}

input.special[type="submit"], input.special[type="reset"], input.special[type="button"], button.special, .button.special {
  background-color: #e5474b;
  color: white !important;
}

input.special[type="submit"]:hover, input.special[type="reset"]:hover, input.special[type="button"]:hover, button.special:hover, .button.special:hover {
  background-color: #e85d61;
}

input.special[type="submit"]:active, input.special[type="reset"]:active, input.special[type="button"]:active, button.special:active, .button.special:active {
  background-color: #e23135;
}

form {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
}

form .field {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
}

form .field.half {
  width: 50%;
  float: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1em;
}

form .field.half.first {
  padding-top: 0px;
  padding-right: 1em;
  padding-bottom: 0px;
  padding-left: 0px;
}

form > .actions {
  margin-top: 2.5em !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}

@media screen and (max-width: 736px) {
  form .field { margin: 0px 0px 1.5em; }
  form .field.half { padding: 0px 0px 0px 0.75em; }
  form .field.half.first { padding: 0px 0.75em 0px 0px; }
  form > .actions { margin: 2em 0px 0px ! important; }
}

@media screen and (max-width: 480px) {
  form .field.half { width: 100%; float: none; padding: 0px; }
  form .field.half.first { padding: 0px; }
}

label {
  display: block;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  display: block;
  outline-width: 0px;
  outline-style: none;
  padding-top: 0px;
  padding-right: 1em;
  padding-bottom: 0px;
  padding-left: 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, select:invalid, textarea:invalid {
box-shadow: none;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper::before {
  -moz-osx-font-smoothing: grayscale;
  osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper::before {
  content: "";
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 2.75em;
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 2.75em;
}

textarea {
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 0.75em;
  padding-left: 1em;
}

input[type="checkbox"], input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  -moz-osx-font-smoothing: grayscale;
  osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  border-radius: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  content: "";
  display: inline-block;
  height: 1.65em;
  left: 0px;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 1.65em;
}

input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
  content: "";
}

input[type="checkbox"] + label::before {
  border-radius: 0px;
}

input[type="radio"] + label::before {
  border-radius: 100%;
}

:-moz-placeholder {
  opacity: 1;
}

*::-moz-placeholder {
  opacity: 1;
}

.formerize-placeholder {
  opacity: 1;
}

label {
  color: #e5474b;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: #fceced;
  border-right-color: #fceced;
  border-bottom-color: #fceced;
  border-left-color: #fceced;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
box-shadow: 0px 0px 0px 1px #e5474b;
}

.select-wrapper::before {
  color: #e5474b;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  color: #111111;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
}

input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
  background-color: #e5474b;
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
  color: white;
}

input[type="checkbox"]:focus + label::before, input[type="radio"]:focus + label::before {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
box-shadow: 0px 0px 0px 1px #e5474b;
}

:-moz-placeholder {
  color: #717171 !important;
}

*::-moz-placeholder {
  color: #717171 !important;
}

.formerize-placeholder {
  color: #717171 !important;
}

.icon {
  text-decoration: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  position: relative;
}

.icon::before {
  -moz-osx-font-smoothing: grayscale;
  osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.image {
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 0px;
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin-top: 0px;
  margin-right: 1.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  top: 0.25em;
}

.image.right {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 3em;
  margin-left: 0px;
  width: 100%;
}

.image.main img {
  width: 100%;
}

ol {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  padding-left: 0px;
}

ul.alt li {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 0.5em;
  padding-right: 0px;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

ul.alt li:first-child {
  border-top-width: 0px;
  border-top-style: none;
  padding-top: 0px;
}

ul.icons {
  cursor: default;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  padding-left: 0px;
}

ul.icons li {
  display: inline-block;
  padding-top: 0px;
  padding-right: 1em;
  padding-bottom: 0px;
  padding-left: 0px;
}

ul.icons li:last-child {
  padding-right: 0px;
}

ul.icons li .icon::before {
  font-size: 2em;
}

ul.actions {
  cursor: default;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  padding-left: 0px;
}

ul.actions li {
  display: inline-block;
  padding-top: 0px;
  padding-right: 1em;
  padding-bottom: 0px;
  padding-left: 0px;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0px;
}

ul.actions.small li {
  padding-top: 0px;
  padding-right: 0.5em;
  padding-bottom: 0px;
  padding-left: 0px;
}

ul.actions.vertical li {
  display: block;
  padding-top: 1em;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

ul.actions.vertical li:first-child {
  padding-top: 0px;
}

ul.actions.vertical li > * {
  margin-bottom: 0px;
}

ul.actions.vertical.small li {
  padding-top: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0px;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1em;
}

ul.actions.fit li > * {
  margin-bottom: 0px;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0.5em;
}

dl {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
}

dl dt {
  display: block;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
}

dl dd {
  margin-left: 2em;
}

ul.alt li {
  border-top-color: #e5474b;
}

section.special, article.special {
  text-align: center;
}

section .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  section .inner { max-width: 90%; width: 90%; }
}

header p {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1.5em;
  margin-left: 0px;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
}

header h4 + p, header h5 + p, header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
}

header p {
  color: #717171;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
  width: 100%;
}

table tbody tr {
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  -moz-border-top-colors: none;
  border-top-colors: none;
  -moz-border-right-colors: none;
  border-right-colors: none;
  -moz-border-bottom-colors: none;
  border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-left-colors: none;
  border-image: none;
}

table td {
  padding-top: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
}

table th {
  font-size: 0.9em;
  font-weight: 700;
  padding-top: 0px;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  text-align: left;
}

table thead {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

table tfoot {
  border-top-width: 2px;
  border-top-style: solid;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  -moz-border-top-colors: none;
  border-top-colors: none;
  -moz-border-right-colors: none;
  border-right-colors: none;
  -moz-border-bottom-colors: none;
  border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-left-colors: none;
  border-image: none;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom-width: 0px;
  border-bottom-style: none;
}

table.alt tfoot {
  border-top-width: 0px;
  border-top-style: none;
}

table tbody tr {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
}

table tbody tr:nth-child(2n+1) {
}

table th {
  color: #e5474b;
}

table thead {
  border-bottom-color: #e5474b;
}

table tfoot {
  border-top-color: #e5474b;
}

table.alt tbody tr td {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
}

.wrapper {
  position: relative;
}

.wrapper > .inner {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 60em;
}

.wrapper.style1 {
  background-color: #e5474b;
  color: #f2a3a5;
}

.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
  color: white;
}

.wrapper.style1 a {
  color: white;
}

.wrapper.style1 strong, .wrapper.style1 b {
  color: white;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
  color: white;
}

.wrapper.style1 blockquote {
  border-left-color: white;
}

.wrapper.style1 code {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

.wrapper.style1 hr {
  border-bottom-color: white;
}

.wrapper.style1 .box {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

.wrapper.style1 input[type="submit"], .wrapper.style1 input[type="reset"], .wrapper.style1 input[type="button"], .wrapper.style1 button, .wrapper.style1 .button {
  background-color: #5a5a5a;
  color: white !important;
}

.wrapper.style1 input[type="submit"]:hover, .wrapper.style1 input[type="reset"]:hover, .wrapper.style1 input[type="button"]:hover, .wrapper.style1 button:hover, .wrapper.style1 .button:hover {
  background-color: #676767;
}

.wrapper.style1 input[type="submit"]:active, .wrapper.style1 input[type="reset"]:active, .wrapper.style1 input[type="button"]:active, .wrapper.style1 button:active, .wrapper.style1 .button:active {
  background-color: #4d4d4d;
}

.wrapper.style1 input.alt[type="submit"], .wrapper.style1 input.alt[type="reset"], .wrapper.style1 input.alt[type="button"], .wrapper.style1 button.alt, .wrapper.style1 .button.alt {
  background-color: transparent;
box-shadow: 0px 0px 0px 2px white inset;
  color: white !important;
}

.wrapper.style1 input.alt[type="submit"]:hover, .wrapper.style1 input.alt[type="reset"]:hover, .wrapper.style1 input.alt[type="button"]:hover, .wrapper.style1 button.alt:hover, .wrapper.style1 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.25);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

.wrapper.style1 input.alt[type="submit"]:active, .wrapper.style1 input.alt[type="reset"]:active, .wrapper.style1 input.alt[type="button"]:active, .wrapper.style1 button.alt:active, .wrapper.style1 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input.alt.icon[type="submit"]::before, .wrapper.style1 input.alt.icon[type="reset"]::before, .wrapper.style1 input.alt.icon[type="button"]::before, .wrapper.style1 button.alt.icon::before, .wrapper.style1 .button.alt.icon::before {
  color: #f8d1d2;
}

.wrapper.style1 input.special[type="submit"], .wrapper.style1 input.special[type="reset"], .wrapper.style1 input.special[type="button"], .wrapper.style1 button.special, .wrapper.style1 .button.special {
  background-color: white;
  color: #e5474b !important;
}

.wrapper.style1 label {
  color: white;
}

.wrapper.style1 input[type="text"], .wrapper.style1 input[type="password"], .wrapper.style1 input[type="email"], .wrapper.style1 select, .wrapper.style1 textarea {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: rgba(255, 255, 255, 0.25);
  border-right-color: rgba(255, 255, 255, 0.25);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="text"]:focus, .wrapper.style1 input[type="password"]:focus, .wrapper.style1 input[type="email"]:focus, .wrapper.style1 select:focus, .wrapper.style1 textarea:focus {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
box-shadow: 0px 0px 0px 1px white;
}

.wrapper.style1 .select-wrapper::before {
  color: white;
}

.wrapper.style1 input[type="checkbox"] + label, .wrapper.style1 input[type="radio"] + label {
  color: #f2a3a5;
}

.wrapper.style1 input[type="checkbox"] + label::before, .wrapper.style1 input[type="radio"] + label::before {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

.wrapper.style1 input[type="checkbox"]:checked + label::before, .wrapper.style1 input[type="radio"]:checked + label::before {
  background-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
  color: #e5474b;
}

.wrapper.style1 input[type="checkbox"]:focus + label::before, .wrapper.style1 input[type="radio"]:focus + label::before {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
box-shadow: 0px 0px 0px 1px white;
}

.wrapper.style1 :-moz-placeholder {
  color: #f8d1d2 !important;
}

.wrapper.style1 *::-moz-placeholder {
  color: #f8d1d2 !important;
}

.wrapper.style1 .formerize-placeholder {
  color: #f8d1d2 !important;
}

.wrapper.style1 ul.alt li {
  border-top-color: white;
}

.wrapper.style1 header p {
  color: #f8d1d2;
}

.wrapper.style1 table tbody tr {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

.wrapper.style1 table tbody tr:nth-child(2n+1) {
}

.wrapper.style1 table th {
  color: white;
}

.wrapper.style1 table thead {
  border-bottom-color: white;
}

.wrapper.style1 table tfoot {
  border-top-color: white;
}

.wrapper.style1 table.alt tbody tr td {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

.wrapper.style2 {
  background-color: #5a5a5a;
  color: #d5d5d5;
}

.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
  color: white;
}

.wrapper.style2 a {
  color: #e5474b;
}

.wrapper.style2 strong, .wrapper.style2 b {
  color: white;
}

.wrapper.style2 blockquote {
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 code {
  background-color: rgba(255, 255, 255, 0.075);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: rgba(255, 255, 255, 0.15);
  border-right-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 hr {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 .box {
  border-top-color: rgba(255, 255, 255, 0.15);
  border-right-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="submit"], .wrapper.style2 input[type="reset"], .wrapper.style2 input[type="button"], .wrapper.style2 button, .wrapper.style2 .button {
  background-color: white;
  color: #5a5a5a !important;
}

.wrapper.style2 input.alt[type="submit"], .wrapper.style2 input.alt[type="reset"], .wrapper.style2 input.alt[type="button"], .wrapper.style2 button.alt, .wrapper.style2 .button.alt {
  background-color: transparent;
box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.15) inset;
  color: white !important;
}

.wrapper.style2 input.alt[type="submit"]:hover, .wrapper.style2 input.alt[type="reset"]:hover, .wrapper.style2 input.alt[type="button"]:hover, .wrapper.style2 button.alt:hover, .wrapper.style2 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

.wrapper.style2 input.alt[type="submit"]:active, .wrapper.style2 input.alt[type="reset"]:active, .wrapper.style2 input.alt[type="button"]:active, .wrapper.style2 button.alt:active, .wrapper.style2 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style2 input.alt.icon[type="submit"]::before, .wrapper.style2 input.alt.icon[type="reset"]::before, .wrapper.style2 input.alt.icon[type="button"]::before, .wrapper.style2 button.alt.icon::before, .wrapper.style2 .button.alt.icon::before {
  color: #bdbdbd;
}

.wrapper.style2 input.special[type="submit"], .wrapper.style2 input.special[type="reset"], .wrapper.style2 input.special[type="button"], .wrapper.style2 button.special, .wrapper.style2 .button.special {
  background-color: #e5474b;
  color: white !important;
}

.wrapper.style2 input.special[type="submit"]:hover, .wrapper.style2 input.special[type="reset"]:hover, .wrapper.style2 input.special[type="button"]:hover, .wrapper.style2 button.special:hover, .wrapper.style2 .button.special:hover {
  background-color: #e85d61;
}

.wrapper.style2 input.special[type="submit"]:active, .wrapper.style2 input.special[type="reset"]:active, .wrapper.style2 input.special[type="button"]:active, .wrapper.style2 button.special:active, .wrapper.style2 .button.special:active {
  background-color: #e23135;
}

.wrapper.style2 label {
  color: white;
}

.wrapper.style2 input[type="text"], .wrapper.style2 input[type="password"], .wrapper.style2 input[type="email"], .wrapper.style2 select, .wrapper.style2 textarea {
  background-color: rgba(255, 255, 255, 0.075);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.5);
}

.wrapper.style2 input[type="text"]:focus, .wrapper.style2 input[type="password"]:focus, .wrapper.style2 input[type="email"]:focus, .wrapper.style2 select:focus, .wrapper.style2 textarea:focus {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
box-shadow: 0px 0px 0px 1px #e5474b;
}

.wrapper.style2 .select-wrapper::before {
  color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="checkbox"] + label, .wrapper.style2 input[type="radio"] + label {
  color: #d5d5d5;
}

.wrapper.style2 input[type="checkbox"] + label::before, .wrapper.style2 input[type="radio"] + label::before {
  background-color: rgba(255, 255, 255, 0.075);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: rgba(255, 255, 255, 0.15);
  border-right-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="checkbox"]:checked + label::before, .wrapper.style2 input[type="radio"]:checked + label::before {
  background-color: #e5474b;
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
  color: white;
}

.wrapper.style2 input[type="checkbox"]:focus + label::before, .wrapper.style2 input[type="radio"]:focus + label::before {
  border-top-color: #e5474b;
  border-right-color: #e5474b;
  border-bottom-color: #e5474b;
  border-left-color: #e5474b;
box-shadow: 0px 0px 0px 1px #e5474b;
}

.wrapper.style2 :-moz-placeholder {
  color: #bdbdbd !important;
}

.wrapper.style2 *::-moz-placeholder {
  color: #bdbdbd !important;
}

.wrapper.style2 .formerize-placeholder {
  color: #bdbdbd !important;
}

.wrapper.style2 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 header p {
  color: #bdbdbd;
}

.wrapper.style2 table tbody tr {
  border-top-color: rgba(255, 255, 255, 0.15);
  border-right-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style2 table th {
  color: white;
}

.wrapper.style2 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table.alt tbody tr td {
  border-top-color: rgba(255, 255, 255, 0.15);
  border-right-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner { width: 65em; }
}

@media screen and (max-width: 980px) {
  .wrapper > .inner { width: 100%; }
}

body {
  position: relative;
  padding-top: 5em;
}

#header {
  background-color: #1c1c1c;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  color: #d5d5d5;
  cursor: default;
  height: 5em;
  left: 0px;
  line-height: 5em;
  position: fixed;
  text-align: right;
  top: 0px;
  width: 100%;
  z-index: 10001;
}

#header .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: static;
}

.header img {
  float: left;
  width: 88px;
  height: 85px;
}

@media screen and (max-width: 480px) {
  #header .inner { max-width: 90%; width: 90%; }
}

#header .logo {
  font-family: "Pacifico", cursive;
  display: inline-block;
  left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  top: 0px;
  color: #e5474b;
  font-size: 1.75em;
  text-transform: none;
  font-weight: normal;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#header .logo:hover {
  color: rgba(229, 71, 75, 0.75);
}

#header a {
transition: color 0.2s ease-in-out 0s;
  display: inline-block;
  padding-top: 0px;
  padding-right: 2em;
  padding-bottom: 0px;
  padding-left: 2em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
}

#header a:hover {
  color: rgba(255, 255, 255, 0.75);
}

#header a:last-child {
  padding-right: 0em;
}

@media screen and (max-width: 736px) {
  #header a { padding: 0px 0.5em; }
}

@media screen and (max-width: 480px) {
  #header { min-width: 320px; }
}

#nav {
  display: inline-block;
}

@media screen and (max-width: 980px) {
  #nav { display: none; }
}

.navPanelToggle {
  position: fixed;
  text-decoration: none;
  height: 4em;
  right: 3em;
  top: 0.75em;
  width: 4em;
  display: none;
  z-index: 10002;
}

.navPanelToggle::before {
  -moz-osx-font-smoothing: grayscale;
  osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: white;
  display: block;
  font-size: 16px;
  height: 2.25em;
  left: 0.5em;
  line-height: 2.25em;
  position: absolute;
  text-align: center;
  top: 0.5em;
  width: 3.5em;
}

@media screen and (max-width: 980px) {
  .navPanelToggle { display: block; }
}

@media screen and (max-width: 736px) {
  .navPanelToggle { right: 1em; }
}

.navPanelToggle *::before {
  color: white;
  display: block;
  font-size: 16px;
  height: 2.25em;
  left: 0.5em;
  line-height: 2.25em;
  position: absolute;
  text-align: center;
  top: 0.5em;
  width: 3.5em;
}

#navPanel {
  transform: translateX(20em);
transition: transform 0.2s ease-in-out 0s, visibility 0.2s ease-in-out 0s;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: #1c1c1c;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  color: white;
  height: 100%;
  max-width: 80%;
  width: 20em;
  padding-top: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  text-transform: uppercase;
  z-index: 10003;
  display: none;
}

#navPanel.visible {
  transform: translateX(0px);
box-shadow: 0px 0px 1.5em 0px rgba(0, 0, 0, 0.2);
  visibility: visible;
}

#navPanel a:not(.close) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 700;
  display: block;
  padding-top: 0.75em;
  padding-right: 0px;
  padding-bottom: 0.75em;
  padding-left: 0px;
  text-decoration: none;
}

#navPanel a:first-child:not(.close) {
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

#navPanel .close {
  text-decoration: none;
transition: color 0.2s ease-in-out 0s;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  color: #484848;
  cursor: pointer;
  display: block;
  height: 4em;
  padding-right: 1.25em;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0px;
  vertical-align: middle;
  width: 5em;
}

#navPanel .close::before {
  -moz-osx-font-smoothing: grayscale;
  osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  content: "";
  width: 3em;
  height: 3em;
  line-height: 3em;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
}

#navPanel .close:hover {
}

@media screen and (max-width: 980px) {
  #navPanel { display: block; }
}

#banner {
  color: #f2a3a5;
  padding-top: 13em;
  padding-right: 0px;
  padding-bottom: 11em;
  padding-left: 0px;
  background-color: #0c0c0c;
  background-image: url("../../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  position: relative;
  z-index: 9999;
}

#banner input, #banner select, #banner textarea {
  color: white;
}

#banner a {
  color: white;
}

#banner strong, #banner b {
  color: white;
}

#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
  color: white;
}

#banner blockquote {
  border-left-color: white;
}

#banner code {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

#banner hr {
  border-bottom-color: white;
}

#banner input[type="submit"], #banner input[type="reset"], #banner input[type="button"], #banner button, #banner .button {
  background-color: #5a5a5a;
  color: white !important;
}

#banner input[type="submit"]:hover, #banner input[type="reset"]:hover, #banner input[type="button"]:hover, #banner button:hover, #banner .button:hover {
  background-color: #676767;
}

#banner input[type="submit"]:active, #banner input[type="reset"]:active, #banner input[type="button"]:active, #banner button:active, #banner .button:active {
  background-color: #4d4d4d;
}

#banner input.alt[type="submit"], #banner input.alt[type="reset"], #banner input.alt[type="button"], #banner button.alt, #banner .button.alt {
  background-color: transparent;
box-shadow: 0px 0px 0px 2px white inset;
  color: white !important;
}

#banner input.alt[type="submit"]:hover, #banner input.alt[type="reset"]:hover, #banner input.alt[type="button"]:hover, #banner button.alt:hover, #banner .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.25);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

#banner input.alt[type="submit"]:active, #banner input.alt[type="reset"]:active, #banner input.alt[type="button"]:active, #banner button.alt:active, #banner .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#banner input.alt.icon[type="submit"]::before, #banner input.alt.icon[type="reset"]::before, #banner input.alt.icon[type="button"]::before, #banner button.alt.icon::before, #banner .button.alt.icon::before {
  color: #f8d1d2;
}

#banner input.special[type="submit"], #banner input.special[type="reset"], #banner input.special[type="button"], #banner button.special, #banner .button.special {
  background-color: white;
  color: #e5474b !important;
}

#banner::after {
transition: opacity 4s ease 0s;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0px;
  left: 0px;
  background-color: #0c0c0c;
  opacity: 0.25;
}

#banner .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
  z-index: 10000;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  #banner .inner { max-width: 90%; width: 90%; }
}

#banner h1 {
  font-size: 2em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  letter-spacing: 3px;
  font-weight: 700;
}

#banner h1 span {
  font-weight: 400;
}

body.is-loading #banner::after {
  opacity: 1;
}

@media screen and (max-width: 1680px) {
  #banner { padding: 10em 0px 8em; }
}

@media screen and (max-width: 1280px) {
  #banner { padding: 8em 0px 6em; }
}

@media screen and (max-width: 980px) {
  #banner { padding: 12em 0px 10em; }
  #banner br { display: none; }
}

@media screen and (max-width: 736px) {
  #banner { padding: 4em 0px 2em; }
  #banner h1 { font-size: 1.75em; }
}

@media screen and (max-width: 480px) {
  #banner { padding: 5em 0px 3em; }
  #banner ul { margin-top: 1em; }
}

#main {
  padding-top: 4em;
  padding-right: 0px;
  padding-bottom: 2em;
  padding-left: 0px;
}

#one {
  padding-top: 6em;
  padding-right: 0px;
  padding-bottom: 4em;
  padding-left: 0px;
}

@media screen and (max-width: 980px) {
  #one { padding: 4em 0px 2em; }
}

@media screen and (max-width: 736px) {
  #one { padding: 2em 0px 0.1em; }
}

#two {
  padding-top: 6em;
  padding-right: 0px;
  padding-bottom: 4em;
  padding-left: 0px;
  background-color: transparent;
  background-image: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

#two .inner {
  display: flex;
  flex-direction: row;
}

#two .inner article {
  width: 50%;
}

#two .inner article:first-child {
  padding-right: 6em;
}

#two .inner article:last-child {
  padding-left: 6em;
}

@media screen and (max-width: 980px) {
  #two { padding: 4em 0px 2em; background: transparent linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%) repeat scroll 0% 0%; }
  #two .inner { flex-direction: column; }
  #two .inner article { width: 100%; }
  #two .inner article:first-child { padding-right: 0px; padding-bottom: 2em; }
  #two .inner article:last-child { padding-left: 0px; padding-top: 2em; }
}

@media screen and (max-width: 736px) {
  #two { padding: 2em 0px 0.1em; }
}

#three {
  padding-top: 6em;
  padding-right: 0px;
  padding-bottom: 4em;
  padding-left: 0px;
}

#three .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#three .inner article {
  width: 26%;
  display: block;
}

#three .inner article p {
  color: #717171;
}

#three .inner article .icon {
  color: #b3b3b3;
  font-size: 3em;
}

@media screen and (max-width: 980px) {
  #three .inner { flex-direction: column; }
  #three .inner article { width: 100%; margin: 0px auto; }
}

@media screen and (max-width: 980px) {
  #three { padding: 4em 0px 2em; }
}

@media screen and (max-width: 736px) {
  #three { padding: 2em 0px 0.1em; }
}

#footer {
  color: #f2a3a5;
  padding-top: 4em;
  padding-right: 0px;
  padding-bottom: 2em;
  padding-left: 0px;
  background-color: #006747;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

#footer input, #footer select, #footer textarea {
  color: white;
}

#footer a {
  color: white;
}

#footer strong, #footer b {
  color: white;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: white;
}

#footer blockquote {
  border-left-color: white;
}

#footer code {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

#footer hr {
  border-bottom-color: white;
}

#footer input[type="submit"], #footer input[type="reset"], #footer input[type="button"], #footer button, #footer .button {
  background-color: #5a5a5a;
  color: white !important;
}

#footer input[type="submit"]:hover, #footer input[type="reset"]:hover, #footer input[type="button"]:hover, #footer button:hover, #footer .button:hover {
  background-color: #676767;
}

#footer input[type="submit"]:active, #footer input[type="reset"]:active, #footer input[type="button"]:active, #footer button:active, #footer .button:active {
  background-color: #4d4d4d;
}

#footer input.alt[type="submit"], #footer input.alt[type="reset"], #footer input.alt[type="button"], #footer button.alt, #footer .button.alt {
  background-color: transparent;
box-shadow: 0px 0px 0px 2px white inset;
  color: white !important;
}

#footer input.alt[type="submit"]:hover, #footer input.alt[type="reset"]:hover, #footer input.alt[type="button"]:hover, #footer button.alt:hover, #footer .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.25);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

#footer input.alt[type="submit"]:active, #footer input.alt[type="reset"]:active, #footer input.alt[type="button"]:active, #footer button.alt:active, #footer .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#footer input.alt.icon[type="submit"]::before, #footer input.alt.icon[type="reset"]::before, #footer input.alt.icon[type="button"]::before, #footer button.alt.icon::before, #footer .button.alt.icon::before {
  color: #f8d1d2;
}

#footer input.special[type="submit"], #footer input.special[type="reset"], #footer input.special[type="button"], #footer button.special, #footer .button.special {
  background-color: white;
  color: #e5474b !important;
}

#footer label {
  color: white;
}

#footer input[type="text"], #footer input[type="password"], #footer input[type="email"], #footer select, #footer textarea {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: rgba(255, 255, 255, 0.25);
  border-right-color: rgba(255, 255, 255, 0.25);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  border-left-color: rgba(255, 255, 255, 0.25);
}

#footer input[type="text"]:focus, #footer input[type="password"]:focus, #footer input[type="email"]:focus, #footer select:focus, #footer textarea:focus {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
box-shadow: 0px 0px 0px 1px white;
}

#footer .select-wrapper::before {
  color: white;
}

#footer input[type="checkbox"] + label, #footer input[type="radio"] + label {
  color: #006747;
}

#footer input[type="checkbox"] + label::before, #footer input[type="radio"] + label::before {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
}

#footer input[type="checkbox"]:checked + label::before, #footer input[type="radio"]:checked + label::before {
  background-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
  color: #e5474b;
}

#footer input[type="checkbox"]:focus + label::before, #footer input[type="radio"]:focus + label::before {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
box-shadow: 0px 0px 0px 1px white;
}

#footer :-moz-placeholder {
  color: #f8d1d2 !important;
}

#footer *::-moz-placeholder {
  color: #f8d1d2 !important;
}

#footer .formerize-placeholder {
  color: #f8d1d2 !important;
}

#footer .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  #footer .inner { max-width: 90%; width: 100%; }
}

#footer .copyright {
  font-size: 0.9em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#footer .copyright a {
  color: #f2a3a5;
}

@media screen and (max-width: 980px) {
  #footer { padding: 4em 0px 2em; }
}

@media screen and (max-width: 736px) {
  #footer { padding: 2em 0px 0.1em; }
}

#expo1 {
  display: inline;
  clear: right;
  overflow: visible;
  position: static;
  left: 0mm;
  float: right;
}

#expo1:hover {
  display: inline;
  visibility: visible;
  clear: right;
  overflow: visible;
}

#button {
    background-color:#006747;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@viewport {
  width: device-width;
  zoom:1;
}

.gridWrapper {
      overflow: hidden;
      margin: 10px;
}

.tile {
float:left;
      position: relative;
      width: 350px;
      height: 300px;
      padding-bottom: 20%;
      margin-left: 55px;
      margin-right: -55px;
    }

.tileInner {
      position: absolute;

      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
.tileInner img {
      width: 100%;
    }
/*Media Query to Adapt Screen to iPhone*/
@media only screen and (max-width : 320px) {
    .tile {
        width: 100%;
        padding-bottom: 100%;
      }
}
/*Media Query to Adapt Screen to iPhone Retina*/
@media only screen and (max-width : 640px) {
    .box {
        width: 50%;
        padding-bottom: 50%;
      }
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 70%;
}

img
{
    display: block;
    margin: auto;
}





